.navbar {
  color: white;
  font-size: small;
}

.navbarSmall {
  font-size: x-small !important;
}

a {
  color: white;
}

.dropdownElement {
  transition: transform 0.5s ease;
}

.thumbnailImg {
  max-width: 100px;
  height: auto;
  object-fit: contain;

  @media (min-width: 500px) {
    max-width: 200px;
  }
}

.optionsText {
  color: #163860;

  @media (max-width: 768px) {
    display: none;
  }
}
