<div class="container-fluid" style="height: 50px; background-color: white; position: sticky">
  <div class="row align-items-center ms-2 me-2">
    <div class="col-4 text-center">
      <i class="fa-solid fa-bookmark bottomIcon"></i><br>
      <span class="bottomOption">SÈLECTION</span>
    </div>
    <div class="col-4 text-center">
      <i class="fa-solid fa-house bottomIcon"></i><br>
      <span class="bottomOption">A LA UNE</span>
    </div>
    <div class="col-4 text-center">
      <i class="fa-solid fa-clock"></i><br>
      <span class="bottomOption">LE FLASH</span>
    </div>
  </div>
</div>
