<div class="container-fluid">
  <div class="row pt-2 pb-3">
    <div class="col-12">
      <img alt="" src="assets/images/paris.png" style="max-width: 130px; height: auto;">
    </div>
  </div>

  <div class="row justify-content-center align-items-center">
    <div class="col-3 text-center">
      <div class="countdown">
        <span class="time">{{ days }}</span><br>
        <span class="letter">J</span>
      </div>
    </div>
    <div class="col-3 text-center">
      <div class="countdown">
        <span class="time">{{ hours }}</span><br>
        <span class="letter">H</span>
      </div>
    </div>
    <div class="col-3 text-center">
      <div class="countdown">
        <span class="time">{{ minutes }}</span><br>
        <span class="letter">M</span>
      </div>
    </div>
    <div class="col-3 text-center">
      <div class="countdown">
        <span class="time">{{ seconds }}</span><br>
        <span class="letter">J</span>
      </div>
    </div>
  </div>

  <div class="row justify-content-center align-items-center mt-3">
    <div class="col-12 text-center">
      <div style="background-color: #EFF4F9; font-size: small; width: 230px">
        <p class="p-2">
          <span style="color: #0E6EEF; font-size: small; text-decoration: underline;">+33 jours</span>
          <span style="font-size: small"> Jeux paralympiques</span>
        </p>
      </div>
    </div>
  </div>

  <div class="row justify-content-center align-items-center">
    <div class="col-12 text-center">
      <div class="btn btn-outline-dark button" style="width: 100%; ">
        Tout sur les JO
      </div>
    </div>
  </div>

  <div class="row align-items-center mt-2 mb-2">
    <div class="col-12">
      <img alt="" src="assets/images/figdata.png" style="width: 70px;">
    </div>
  </div>
</div>
