<div class="container-fluid clockCard p-2 mt-3 mb-3" style="max-width: 1400px;">
  <div class="row p-1">
    <div class="col-6 col-sm-3 text-center">
      <img class="leFigaroImg" alt="" src="assets/images/radio.png">
    </div>
    <div class="col-1 d-none d-sm-block justify-content-end">
      <img class="symbol" alt="" src="assets/images/symbol.png">
    </div>
    <div class="col-4 d-none d-sm-block">
      <span style="color: #163860; font-size: small">ARTIST NAME</span><br>
      <div class="moving-text-container">
        <div class="moving-text">
          <span style="color: gray; font-size: small">SONG NAME AND OTHER INFOS</span>
        </div>
      </div>
    </div>
    <div class="col-3 col-sm-2 text-center ml-2">
      <img class="audioWave" alt="" src="assets/images/wave.png">
    </div>
    <div class="col-3 col-sm-2 text-center">
      <div class="btn btn-primary" style="border-radius: 50%;">
        <i class="bi bi-play-fill"></i>
      </div>
    </div>
  </div>

  <div class="row p-1 d-flex d-sm-none">
    <div class="col-4 text-end">
      <img class="symbol" alt="" src="assets/images/symbol.png">
    </div>
    <div class="col-7">
      <span style="color: #163860; font-size: small">ARTIST NAME</span><br>
      <div class="moving-text-container">
        <div class="moving-text">
          <span style="color: gray; font-size: small">SONG NAME AND OTHER INFOS</span>
        </div>
      </div>
    </div>
  </div>
</div>
