<div class="container">
  <div class="row article mt-2">
    <div class="col-12 mb-3">
      <a href="#" class="title">{{ articlesService.firstArticle.title }}</a>
    </div>
    <div class="col-12 mb-3">
      <img class="articlesImg" alt="" src="{{ articlesService.firstArticle.img }}">
    </div>
    <div class="col-12 mb-3">
      <p class="body">{{ articlesService.firstArticle.description }}</p>
    </div>
    <div class="col-1">
      <i class="bi bi-arrow-right arrow"></i>
    </div>
    <div class="col-11 mb-3">
      <a href="#" class="plus">{{ articlesService.firstArticle.plus }}</a>
    </div>
  </div>

  <app-radio-central class="d-block d-lg-none"></app-radio-central>

  <app-selection-articles class="d-block d-lg-none"></app-selection-articles>

  <div *ngFor="let i of [0, 1]; let j = index">
    <div class="row article mt-2">
      <div class="col-12 mb-3">
        <a href="#" class="title">{{ articlesService.smallArticles[j].title }}</a>
      </div>
      <div class="col-8 body">{{ articlesService.smallArticles[j].description }}</div>
      <div class="col-4 mb-3">
        <img class="articlesImg" src="{{articlesService.smallArticles[j].img}}" alt="">
      </div>
    </div>

    <div class="row article mt-3">
      <div class="col-lg-12 col-md-6 col-sm-12 mb-3">
        <a href="#" class="title">{{ articlesService.articles[j].title }}</a>
        <p *ngIf="isSmall" class="body mt-1">{{ articlesService.articles[j].description }}</p>
      </div>
      <div class="col-lg-12 col-md-6 col-sm-12 mb-3">
        <img class="articlesImg" alt="" src="{{ articlesService.articles[j].img }}">
      </div>
      <div *ngIf="!isSmall" class="col-lg-12 mb-2">
        <p class="body">{{ articlesService.articles[j].description }}</p>
      </div>
      <div class="col-1 mt-2">
        <i class="bi bi-arrow-right arrow"></i>
      </div>
      <div class="col-11 mt-2 mb-3">
        <a href="#" class="plus">{{ articlesService.articles[j].plus }}</a>
      </div>
    </div>
  </div>

  <div class="row article mt-3">
    <div class="col-12 mb-3">
      <a href="#" class="title">{{ articlesService.survey }}</a>
    </div>
    <div class="col-12 mb-3">
      <div class="btn btn-primary button text-start">Oui</div>
    </div>
    <div class="col-12 mb-3">
      <div class="btn btn-primary button text-start">Non</div>
    </div>
  </div>

  <div *ngFor="let videoArticle of articlesService.videoArticles" class="row article mt-3">
    <div class="col-12 mb-3">
      <img src="{{ videoArticle.logo }}" alt="" class="logo">
    </div>
    <div class="col-12 mb-3">
      <video controls autoplay class="w-100 videoSize" [id]="'video' + videoArticle.id"
             (ended)="restartVideo(videoArticle.id)">
        <source src="{{ videoArticle.video }}" type="video/mp4">
      </video>
    </div>
    <div class="col-12 mb-3">
      <a href="#" class="title">{{ videoArticle.title }}</a>
    </div>
  </div>

  <div class="row mt-3 article position-relative">
    <div class="col-12 mb-3">
      <a href="#" class="title">{{ articlesService.photoGallery.title }}</a>
    </div>
    <div class="col-4 p-0 mb-1">
      <img class="photogalleryImg img-fluid" alt="" src="{{ articlesService.photoGallery.images[0] }}">
    </div>
    <div class="col-8 mb-1">
      <img class="photogalleryImg img-fluid" alt="" src="{{ articlesService.photoGallery.images[1] }}">
    </div>
    <div class="col-12 p-0 mb-3">
      <img class="photogalleryImg img-fluid" alt="" src="{{ articlesService.photoGallery.images[2] }}">
    </div>
    <div class="col-12 position-absolute" style="bottom: 25px; left: 0;">
      <div class="btn btn-primary photogalleryButton" style="font-size: small; font-weight: bold">Voir Tout</div>
    </div>
  </div>

</div>
