a {
  text-decoration: none;
  font-size: small;
}

.article {
  color: #163860;
}

.article:hover {
  color: #1E66BA;
}

.dropdown-item {
  color: #163860;
}

.lineLeft {
  border-left: 1px solid lightgray;
}

/* componente.css */

.fade-in-top {
  position: relative;
}

.fade-in-top::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px; /* Altezza del gradiente */
  background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.fade-in-bottom {
  position: relative;
}

.fade-in-bottom::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.button {
  height: 40px;
  background-color: white;
  border-color: gray;
  color: #163860;
}

.button:hover {
  border-color: #0E6EEF;
  background-color: white;
  color: #0E6EEF;
}


