<div class="container lineLeft">
  <div class="row justify-content-center align-items-center">
    <div class="col-6 text-center" style="color: #D92824; font-size: large; font-weight: bold">
      Le Flash
    </div>
    <div class="col-6">
      <div class="dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                data-bs-toggle="dropdown" aria-expanded="true" style="color: #163860">
          Actualité
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Èconomie</a></li>
            <li><a class="dropdown-item" href="#">Sport</a></li>
          </ul>
        </button>
      </div>
    </div>
  </div>

  <div class="row justify-content-center align-items-center mt-4">
    <div class="col-12 d-flex">
      <span style="color: gray; font-size: x-small;">Recevoir les alertes de la rédaction</span>
      <div class="form-check form-switch" style="margin-left: 10px;">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
      </div>
    </div>
  </div>

  <div class="row mt-4 fade-in-top fade-in-bottom">
    <div class="col-12" style="height: 500px; overflow-y: auto;">
      <ul class="list-unstyled">
        <li *ngFor="let article of articles">
          <div class="container">
            <div class="row mb-3">
              <div class="article col-3">
                <a>
                  {{ article.time }}
                </a>
              </div>
              <div id="articleTitle" class="article col-9">
                <a (mouseenter)="cursorService.changeCursor('pointer', 'articleTitle')"
                   (mouseleave)="cursorService.changeCursor('cursor', 'articleTitle')">
                  {{ article.title }}
                </a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-12 mt-2">
    <div class="btn btn-outline-dark button" style="width: 110%; font-size: x-small;">
      VOIR TOUS LES FLASHS ACTUALITÈ
    </div>
  </div>
</div>
