<div class="container">
  <div *ngFor="let article of articles1" class="row">
    <div class="col-12 mb-3">
      <a href="#" class="title">{{ article.title }}</a>
    </div>
    <div class="col-12 mb-3">
      <img class="articlesImg" alt="" src="{{article.img}}">
    </div>
    <div class="col-12">
      <p class="body">{{article.description}}</p>
    </div>
    <div class="col-1">
      <i class="bi bi-arrow-right" style="width: 50px; height: auto; color: #163860"></i>
    </div>
    <div class="col-11">
      <a href="#" class="plus">{{ article.plus }}</a>
    </div>
  </div>
</div>
