.title:hover {
  color: #1E66BA;
}

.title {
  color: #163860;
  text-decoration: none;
  font-size: x-large;
  font-weight: bold;
  font-family: noto-serif, Georgia, Verdana, serif;
}

.articlesImg {
  max-width: 450px;
  height: auto;
  object-fit: fill;
  overflow: hidden;
}

.body {
  color: #163860;
  font-family: noto-serif, Georgia, Verdana, serif;
}

.plus {
  color: #163860;
  text-decoration: none;
  font-weight: bold;
  font-family: noto-serif, Georgia, Verdana, serif;
}

.plus:hover {
  color: #1E66BA;
}
