<div class="clockCard p-2 mb-3">
  <div class="row p-1">
    <div class="col-6 text-center">
      <img class="leFigaroImg" alt="" src="assets/images/radio.png">
    </div>
    <div class="col-3 text-center ml-2">
      <img *ngIf="!isSmall" class="audioWave" alt="" src="assets/images/wave.png">
    </div>
    <div class="col-3 text-center">
      <div class="btn btn-sm btn-primary" style="border-radius: 50%;">
        <i class="bi bi-play-fill"></i>
      </div>
    </div>
  </div>
  <div class="row p-1 mt-2">
    <div class="col-4 justify-content-end d-flex">
      <img class="symbol" alt="" src="assets/images/symbol.png">
    </div>
    <div class="col-8">
      <span style="color: #163860; font-size: small">ARTIST NAME</span><br>
      <div class="moving-text-container">
        <div class="moving-text">
          <span style="color: gray; font-size: small">SONG NAME AND OTHER INFOS</span>
        </div>
      </div>
    </div>
  </div>
</div>
